DATABASE_URL="postgresql://postgres:postgres@127.0.0.1:5432/proyectoc_db?schema=public"
PORT=3000
JWT_SECRET="change-me"
NODE_ENV="production"
FRONTEND_URL="http://2.24.217.54"

# Optional if you use Cloudinary
CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""
